@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.container-div1 {
  position: absolute;
  top: calc(50% - 343.5px);
  left: calc(50% - 381.5px);
  border-radius: 12px;
  background: conic-gradient(
    from 209.78deg at 50% 50%,
    #7e9f9d 0deg,
    rgba(16, 24, 24, 0.13) 360deg
  );
  width: 763px;
  height: 687px;
}
.channel-sapceip-textarea,
.channeldescriptionip-textarea,
.channelnameip-input,
.enter-channel-uriip {
  border: 0;
  background-color: #fff;
  position: absolute;
  top: 224px;
  left: 382px;
  width: 295px;
  height: 40px;
}
.channel-sapceip-textarea,
.channeldescriptionip-textarea,
.enter-channel-uriip {
  top: 284px;
}
.channel-sapceip-textarea,
.channeldescriptionip-textarea {
  top: 344px;
}
.channel-sapceip-textarea {
  top: 404px;
}
.enter-channel-name {
  position: absolute;
  top: 224px;
  left: 68px;
  display: flex;
  align-items: center;
  width: 295px;
}
.enter-channel-description,
.enter-channel-name,
.enter-channel-uri {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  justify-content: center;
  height: 40px;
}
.enter-channel-uri {
  position: absolute;
  top: 284px;
  left: 68px;
  display: flex;
  align-items: center;
  width: 295px;
}
.enter-channel-description {
  top: 344px;
  width: 336px;
}
.create-channel-div,
.enter-channel-description,
.enter-channel-space {
  position: absolute;
  left: 27px;
  display: flex;
  align-items: center;
}
.enter-channel-space {
  margin: 0;
  top: 404px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  justify-content: center;
  width: 336px;
  height: 40px;
}
.create-channel-div {
  top: 63px;
  font-size: 36px;
  font-weight: 800;
  color: #1d1945;
  text-align: left;
  width: 475px;
  height: 67px;
}
.connectbtn-button,
.proceedbtn-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #2b3838;
  position: absolute;
  top: 538px;
  left: 284px;
  border-radius: 22px;
  width: 195px;
  height: 41px;
  opacity: 1;
}
.proceedbtn-button.animate {
  animation: 1s ease 0s 1 normal forwards pulsate;
}
.connectbtn-button {
  background-color: #456b69;
  top: 22px;
  left: 588px;
  width: 131px;
}
.connectbtn-button.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.container-div {
  position: absolute;
  top: calc(50% - 344px);
  left: calc(50% - 382px);
  width: 763px;
  height: 687px;
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .connectbtn-button {
    opacity: 1;
  }
  .connectbtn-button.animate {
    animation: 1s ease-in 0s 1 normal forwards jello-horizontal;
  }
  @keyframes jello-horizontal {
    0%,
    to {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  }
}
