@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
body {
  margin: 0;
  line-height: normal;
}
::placeholder { 
  color:    rgb(0, 0, 0);
}
.down-container-div {
  position: absolute;
  height: calc(100% - 412px);
  width: 100%;
  top: 412px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5e7e9c;
}
.watchlist-div1 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
}
.rectangle-div,
.rectangle-div1 {
  position: absolute;
  width: 100%;
  top: 154px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  height: 67px;
}
.rectangle-div1 {
  top: 0;
  background-color: var(--color-gray-200);
  height: 154px;
}
.videocard-div {
  position: absolute;
  top: 0;
  right: 1011px;
  left: 0;
  height: 221px;
}
.videocard-div,
.videocard-div1 {
  width: calc(100% - 1011px);
}
.videocard-div1,
.videocard-div2 {
  position: absolute;
  top: 0;
  height: 221px;
}
.videocard-div1 {
  right: 758px;
  left: 253px;
}
.videocard-div2 {
  width: calc(100% - 1012px);
  right: 506px;
  left: 506px;
}
.group-div {
  position: absolute;
  height: 221px;
}
.videocard-div3 {
  right: 253px;
  left: 758px;
}
.videocard-div3,
.videocard-div4 {
  position: absolute;
  width: calc(100% - 1011px);
  top: 0;
  height: 221px;
}
.group-div {
  right: 0;
}
.videocard-div4 {
  right: 0;
  left: 1011px;
}
.group-div {
  width: calc(100% - 20px);
  top: 71px;
  left: 20px;
}
.watchlist-div {
  position: absolute;
  top: 750px;
  left: 21px;
  width: 1252px;
  height: 292px;
}
.science-div {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
}
.art-div,
.sci-fi-div {
  position: absolute;
  left: 21px;
  width: 1252px;
  height: 292px;
}
.sci-fi-div {
  top: 1063px;
}
.art-div {
  top: 1378px;
}
.group-div3 {
  position: absolute;
  width: calc(100% - 37px);
  top: 66px;
  right: 0;
  left: 37px;
  height: 221px;
}
.crypto-div {
  position: absolute;
  top: 1691px;
  left: 14px;
  width: 1269px;
  height: 287px;
}
.group-div4 {
  position: absolute;
  width: calc(100% - 43px);
  top: 70px;
  right: 0;
  left: 43px;
  height: 221px;
}
.web3-div {
  position: absolute;
  top: 1995px;
  left: 21px;
  width: 1275px;
  height: 291px;
}
.new-div1 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
}
.group-div5 {
  width: calc(100% - 22px);
  top: 65px;
  right: 0;
  left: 22px;
  height: 221px;
}
.banner-div,
.group-div5,
.new-div {
  position: absolute;
}
.new-div {
  top: 441px;
  left: 27px;
  width: 1254px;
  height: 286px;
}
.banner-div {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: conic-gradient(
    from 206.84deg at 50% 50%,
    rgba(37, 135, 224, 0.48) -20.97deg,
    rgba(97, 156, 210, 0.76) 25.31deg,
    rgba(72, 120, 164, 0.51) 110.97deg,
    rgba(42, 119, 190, 0.49) 192.93deg,
    rgba(20, 111, 194, 0.49) 226.11deg,
    rgba(57, 148, 232, 0.49) 264.48deg,
    rgba(78, 146, 208, 0.49) 313.38deg,
    rgba(37, 135, 224, 0.48) 339.03deg,
    rgba(97, 156, 210, 0.76) 385.31deg
  );
  height: 412px;
}
.creatorz-h1 {
  margin: 0;
  position: absolute;
  top: 158px;
  left: calc(50% - 230.5px);
  font-size: inherit;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 462px;
}
.search-input {
  border: 0;
  background-color: #5e7c9c;
  position: absolute;
  top: 32px;
  right: 152px;
  border-radius: var(--br-md);
  width: 292px;
  height: 56px;
}
.profile-button,
.searchbtn-button,
.subscriptions-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  border-radius: var(--br-md);
  height: 56px;
}
.searchbtn-button {
  background-color: #6688a7;
  top: 32px;
  right: 54px;
  width: 94px;
}
.searchbtn-button:active,
.subscriptions-button:active {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.profile-button {
  top: 309px;
  width: 126px;
}
.subscriptions-button {
  background-color: #384d7a;
  top: 309px;
  left: 196px;
  width: 126px;
}
.profile-button {
  background-color: #425a82;
  left: 55px;
}
.profile-button:active {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.hero-div {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 412px;
  font-size: 80px;
  color: #06425b;
  font-family: var(--font-averia-serif-libre);
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2370px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-asul);
}
