@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.container-div {
  position: absolute;
  top: calc(50% - 340px);
  left: calc(50% - 404px);
  border-radius: 12px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #8880ba,
    rgba(60, 83, 142, 0.43) 36.58%,
    rgba(23, 56, 50, 0.23) 59.64%,
    rgba(176, 177, 209, 0.81) 78.15%
  );
  width: 830px;
  height: 730px;
}
.hii-h2,
.karthikeya-h2 {
  margin: 0;
  position: absolute;
  top: 259px;
  left: 383px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  color: #080e3c;
  text-align: left;
  display: inline-block;
}
.karthikeya-h2 {
  top: 305px;
  font-weight: 700;
  color: #080e3b;
}
.connectbtn-button,
.mintbtn-button {
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #15292f;
  position: absolute;
  top: calc(50% - 310px);
  left: calc(50% - -254px);
  border-radius: 22px;
  width: 133px;
  height: 42px;
}
.connectbtn-button:active,
.mintbtn-button:active {
  animation: 1s ease 0s infinite normal none jello-horizontal;
  opacity: 1;
}
.mintbtn-button {
  background-color: #24515f;
  left: calc(50% - -107px);
}
.account-address-h6,
.account-name-h4,
.channel-name-h4,
.native-token-balance {
  margin: 0;
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% - 79px);
  font-size: 20px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.account-name-h4,
.channel-name-h4,
.native-token-balance {
  top: calc(50% - 27px);
  left: calc(50% - 111px);
  font-size: inherit;
}
.channel-name-h4,
.native-token-balance {
  top: calc(50% - -35px);
  left: calc(50% - 92px);
}
.native-token-balance {
  top: calc(50% - -91px);
  left: calc(50% - 119px);
  font-size: 24px;
}
.prevtnx-div {
  position: absolute;
  top: calc(50% - -155px);
  left: calc(50% - 354px);
  background-color: #d9d9d9;
  width: 708px;
  height: 214px;
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .mintbtn-button:active {
    animation: 1s ease 0s 1 normal none scale-up;
    opacity: 1;
  }
  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
}
